:root {
  --sidebar: #333;
  --tombol: #009bde;
  --default: #e5e5e5;
  --font: #093d7c;
  --judul: #cef1fd;
  --h2: #396394;
}
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

/*Login*/
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.popup-content {
  border-radius: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  text-align: center;
}

.popup-content h2 {
  margin-bottom: 20px;
}

.popup-content button {
  padding: 10px;
  margin-top: 20px;
}

.popup-content button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.container {
  height: 100vh;
}

.formLogin {
  width: 25vw;
  margin: auto;
  box-shadow: 1px 1px 3px 1px;
  height: 53vh;
  border-radius: 20px;
}

.formLogin h2 {
  display: flex;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 1.5em;
  justify-content: center;
}
.formLogin form .formuser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formLogin form .formuser input {
  height: 2.8em;
  margin-bottom: 23px;
  width: 18em;
  border-radius: 12px;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 20px;
}

.formLogin .submit input {
  height: 40px;
  border: none;
  background-color: var(--tombol);
  border-radius: 10px;
  width: 18em;
  cursor: pointer;
  color: white;
}
.formLogin .submit input:hover {
  background-color: #009bded8;
}

.formLogin .submit {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}
.containerform {
  display: flex;
  justify-content: center;
}
.containerform .logo {
  display: flex;
  justify-content: center;
}
body {
  font-family: "Roboto", sans-serif;
}

.side {
  background-color: var(--sidebar);
  width: 15vw;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 9999;
}

.side ul li {
  list-style-type: none;
  padding-left: 20px;
  margin: 30px 0 30px 10px;
  height: 40px;
  border-radius: 10px;
  width: 80%;
  cursor: pointer;
}

.side ul li:hover {
  background-color: var(--tombol);
  transition: 0.5s;
}
.side ul li {
  display: flex;
  align-items: center;
}
.side ul li img {
  width: 25px;
  margin-right: 12px;
}
.head-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.side ul li a {
  display: flex;
  align-items: center;
  font-size: 13px;
  height: 100%;
  width: 100%;
}
.side ul li a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.main {
  margin-bottom: 3rem;
  margin-left: 15vw;
  width: 100%;
}

.container {
  display: flex;
}

.container .head {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--tombol);
  width: 101%;
  height: 9vh;
  position: sticky;
  top: 0;
  z-index: 999;
  align-items: center;
}

.container .head .profil {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: default;
  margin-right: 50px;
}
.container .head .tombol {
  margin-right: 50px;
  display: flex;
  width: 100px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.head .tombol:hover {
  background-color: var(--sidebar);
}

.container .head .tombol a {
  color: white;
  text-decoration: none;
}

.main .content .first {
  background-color: var(--default);
  display: flex;
  width: 101%;
  height: 10vh;
  box-shadow: 0 1px 3px 0;
  position: relative;
  align-items: center;
  margin-bottom: 40px;
}
.content .first .left {
  color: var(--h2);
  font-weight: 700;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20px;
}

.content .first .right {
  float: right;
  position: relative;
  left: 61vw;
  display: flex;
  align-items: center;
  height: 70%;
}

.right .tombol {
  padding: 15px;
  box-shadow: 1px 1px 3px 1px;
  border-radius: 10px;
  background-color: var(--font);
}

.right .tombol a {
  color: white;
  text-decoration: none;
}

.main .ringkasan {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 3vh;
  position: relative;
  top: -7px;
}

.main .ringkasan .judul {
  background-color: var(--judul);
  padding: 20px;
}
.main .ringkasan .isi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .detail .stok p#dropdown {
  margin-top: 10px;
}
#sum .isi {
  display: flex;
  align-items: center;
  height: 50%;
}
#sum .judul {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#sum {
  box-shadow: 1px 1px 3px 1px;
  height: 110px;
  border-radius: 10px;
}
.hasil .daftar {
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--h2);
}
.hasil .daftar p {
  margin-left: 20px;
  font-size: 19px;
}
.hasil {
  background-color: white;
  position: relative;
  top: 100px;
  height: 70vh;
}
.hasil table {
  color: #444;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  border: 1px solid #f2f5f7;
  position: relative;
  left: 10px;
}
.hasil table tr th {
  background: #35a9db;
  color: #fff;
  font-weight: normal;
}

.hasil table,
th,
td {
  padding: 8px 30px;
  text-align: center;
}
.hasil table tr td a {
  color: black;
}

.hasil table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#pagination {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
  align-items: center;
}

#pagination button {
  width: 70px;
  height: 40px;
  background-color: var(--judul);
  border: none;
  cursor: pointer;
}

.form {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.form .isi {
  width: 40vw;
  height: 60vh;
  padding: 50px 30px;
  border-radius: 10px;
  position: relative;
}
.form .isi h1 {
  text-align: center;
  margin-bottom: 40px;
}

.form .isi input {
  padding: 10px;
  border-radius: 10px;
}
.form .isi table tr td select {
  padding: 10px;
  border-radius: 10px;
}

.form .isi label {
  margin-right: 30px;
}
.form .isi select {
  padding: 10px;
  border-radius: 10px;
}

.isi form .simpan {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.isi form input[type="submit"] {
  background-color: var(--judul);
  color: var(--font);
  font-weight: 700;
  border: none;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
}

.form-head {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: var(--tombol);
}

.form-head .back {
  padding: 11px 23px;
  margin-right: 20px;
}
.form-head .back:hover {
  background-color: var(--judul);
  transition: 0.4s;
}
.form-head .back a {
  color: black;
}

/*home*/
.home-head {
  width: 100%;
  background-color: var(--default);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  position: relative;
  top: -10px;
  box-shadow: 0 1px 3px 0;
}
.home-head h2 {
  color: var(--h2);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 2rem;
}
.main .welcome .text-welcome {
  display: flex;
  background-color: #cef1fd;
  border-radius: 8px;
  width: 90%;
  height: 7vh;
  align-items: center;
  padding-left: 3rem;
}

.main .welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.main .welcome .text-welcome img {
  width: 20px;
  height: 20px;
  margin-right: 2rem;
}
.main .welcome .text-welcome p {
  color: #396394;
}
.main .welcome .text-welcome span {
  font-weight: 700;
}

.main .detail {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  width: 85vw;
}
.main .detail #detail {
  padding: 1rem;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
}
.main .detail .pemasukan {
  background: linear-gradient(to right, #0494d3, #0494d37a);
}
.main .detail .pengeluaran {
  background: linear-gradient(to right, #ff015d, #ff015d8a);
}
.main .detail .labarugi {
  background: linear-gradient(to right, #02b857, #02b85775);
}
.main .detail .stok {
  background: linear-gradient(to right, #cfdd2b, #cde15175);
}
.detail .stok #dropdownContent {
  background-color: rgb(182, 154, 154);
  padding: 70px 50px;
  position: absolute;
  border-radius: 10px;
}

/*summary*/
.summary {
  margin: 3rem 0;
  display: flex;
  box-sizing: border-box;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.summary #summary {
  margin: 100px 0;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 2.3rem;
}
table#tbl {
  border-collapse: collapse;
  font-size: 10px;
}
table#tbl tr {
  border-top: 1px solid black;
}

/*Stok*/
.stok-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stok-container .stok {
  display: flex;
  background-color: var(--default);
  border-radius: 10px;
  height: 70px;
  align-items: center;
  justify-content: left;
  width: calc(280px - 20px); /* 25% - (2 * margin) */
  margin: 20px 10px; /* Jarak antar item */
  box-sizing: border-box; /* Hindari penambahan margin ke lebar item */
}

.stok-container .stok .gambar {
  margin-right: 20px;
  width: 120px;
  height: 100%;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stok#total-item .gambar {
  background-color: #ffb53e;
}
.stok#total-stok .gambar {
  background-color: #30a5ff;
}
.stok#botol-330 .gambar {
  background-color: #1ebfae;
}
.stok#botol-600 .gambar {
  background-color: #f9243f;
}
.stok#galon .gambar {
  background-color: #ffb53e;
}
.stok#cup .gambar {
  background-color: #30a5ff;
}
.stok#approved .gambar {
  background-color: #1ebfae;
}
.stok#rejected .gambar {
  background-color: #f9243f;
}

.stok-container .stok .keterangan #jumlah {
  font-size: 25px;
  font-weight: bold;
}
